.lay_background{position:absolute;position:fixed;left:0;top:0;z-index:-1;overflow:hidden}
.lay_background .lay_background_img{position:absolute;left:0;top:0;z-index:-1}
.lay_background .lay_background_img{opacity:0;-webkit-transition:opacity .8s ease;-moz-transition:opacity .8s ease;transition:opacity .8s ease}
.lay_background .lay_background_img_fade_out{opacity:1}

a {
    color:#000;
    -webkit-transition:color 500ms;
    -moz-transition:color 500ms;
    transition:color 500ms;
    /*text-shadow:0px 0px 5px #000;*/
}

a#edit, a#edit1 {
    float:right;
}



h1, h2, h3, h6{
    /*text-shadow:0px 0px 5px #000;*/
    font-weight:100;
    color:#FFF;
    text-shadow:#000 0px 0px 4px;
}

a:hover {
    color:#0088cc;
}

body {
    background-color: #F1F1F1;
    /*background-image: url(/static/img/bg2.jpg);*/
    background-attachment: fixed;
    color:#000;
    font-family:Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
    _font-family:Tahoma,Arial,Helvetica,STHeiti;
}
.table {
    color:#000;
    background:#FFF;
    opacity:0.8;
}

.table a, .modal a{
    /*text-shadow:0px 0px 0px #FFF;*/
    color:#0088cc;
}

.navbar-search {
    opacity:0.8;
}

div#myDiv {
    opacity:0.8;
    background:#FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#myDiv table{
    opacity:1;
}

.help {
    padding:20px;
    color:#000;
    opacity:0.8;
    background:#FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.help a {
    color:#0088cc;
    /*text-shadow:0px 0px 0px #FFF;*/
}

.help h3 {
    /*text-shadow:0px 0px 0px #FFF;*/
}