<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }} | 新番提醒 | Anime Reminder | 第三方免费动漫更新提醒</title>
    <meta name="description" content="新番提醒是免费提供第三方新番提醒的网站，界面简洁，操作简单，是追番的必备工具。如果长时间出门怕错过了新番，开启新番提醒器的提醒，这样可以在第一时间获取到更新的动漫列表。">
    <meta name="keywords" content="新番,动漫,追番,新番提醒,Anime,Anime Reminder,新番提醒器,追番提醒器,追番提醒,动漫更新提醒">
    <meta name="application-name" content="anime.ricter.info">
    <meta name="application-name" content="anime.ricter.info">
    <meta name="author" content="Ricter">
    <meta name="google-site-verification" content="q5bXGrqpGoe27C_sGkaOQquD-FoyPH292CaWRV-9rvA" />
    <link rel="shortcut icon" href="/static/icon/favicon.ico"/>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/my.css" rel="stylesheet">
</head>

<body>
    {% block body %}
    {% endblock %}
    <div class="footer">
        <p class="copyright">
            Copyright ©2013 <a href="http://ricter.info">Ricter</a> Powered By
            <a href="http://github.com/RicterZ/AnimeReminder">新番提醒</a> |
            <a href="/devtimeline.html">更新时间线</a> |
            <a href="https://gist.github.com/RicterZ/8134886">API 3.0</a> |
            <a href="/disclaimer.html">免责声明</a>
        </p>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/indexControl.js"></script>
<script src="/static/js/global.js"></script>
<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5fb176c2e554ed3570d951bd6a7ad677' type='text/javascript'%3E%3C/script%3E"));
</script>
{% block script %}
{% endblock %}
</body>
</html>