{% extends "base.html" %}

{% block body %}
    <div class="my-header">
        <h1 class="my-header-title"><a class="nostyle" href="/">新番提醒</a></h1>
        <a class="my-email" href="/user"></a>
    </div>
    <div class="my-main">
        <div class="my-main-subscript">
            <h1 class="my-main-subscript-title inline"><a target="_black" href="http://data.movie.kankan.com/movie/{{ data['id'] }}">{{ data['title'] }}</a></h1>
            <a class="button add-anime large inline pull-right" href="##" data-animeid="{{ data['id'] }}">添加到我的订阅</a>
        </div>
        <div class="my-main-subscript bg-white">
            <div class="subscript-container intro-container">
                <img class="poster" src="http://images.movie.xunlei.com/168x235{{ data['poster'] }}" />
                <p class="intro">{{ data['intro'] }}</p>
            </div>
        </div>
        <div class="hr-line"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".add-anime").click(function(){
            if (indexControl.add(this.attributes['data-animeid'].nodeValue)) {
                $(this).hide();
            } else {
                alert('添加失败了=-=，难道说你没有登录0w0?');
            }
        });
        indexControl.cookie();
        $(".my-email").text(LittleUrl.decode(indexControl.cookieDict.email));
    </script>
{% endblock %}