<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新番提醒 | Anime Reminder | 第三方免费动漫更新提醒</title>
    <link href="./static/css/style.css" rel="stylesheet">
    <script src="./static/js/jquery.js"></script>
    <script src="./static/js/carousel.js"></script>
    <script src="./static/js/indexControl.js"></script>
    <script src="./static/js/global.js"></script>
    <script>
    $$(function(){
        indexControl.__init__();
        indexControl.getData('/index', indexControl.indexHander, ".main-update-ul-container");
        indexControl.getData('/get_update_schedule', indexControl.scheduleHandler, ".main-schedule-container");
        $$(".button").click(function(){
            console.log(this.dataset);
            if (this.dataset.type != 'undo')
                indexControl[this.dataset.type]();
        });
    });
    </script>
</head>

<body>
    <div class="header">
        <img class="header-img" src="./static/img/2013-12-29.jpg">
    </div>
    <div class="main">
        <h1 class="header-title">新番提醒</h1>
        <div class="main-intro">
            <div class="hr-line"></div>
            <ul class="main-w-container">
                <li class="main-w">
                    <img class="main-w-img" src="./static/img/w/w2.jpg">
                    <p class="main-w-text">京骚戏画更新了！诶什么时候更新的？用新番提醒，更新了直接邮件提醒。当然，如果你是Email控的话...</p>
                </li>
                <li class="main-w">
                    <img class="main-w-img" src="./static/img/w/w1.jpg">
                    <p class="main-w-text">啊咧，我的约炮大作战（雾）看到多少集了呢&gt;.&lt;，新番提醒给你记录啦，这样又能追番又能记录~妈妈再也不担心~</p>
                </li>
                <li class="main-w">
                    <img class="main-w-img" src="./static/img/w/w3.jpg">
                    <p class="main-w-text">明天更新啥动漫..中二病第二季快出来了呢..嗯，给你今天和明天的更新表，把握好时机把骚年！23333333~</p>
                </li>
            </ul>
            <div class="hr-line"></div>
        </div>
        <div class="main-update">
            <p class="main-update-intro">嘛嘛，这几天有什么动漫更新了呢...</p>
            <div class="main-update-ul-container">
                <img class="load update-load" src="./static/img/01.gif" />
                <ul class="main-update-container"></ul>
                <ul class="main-update-container"></ul>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="main-schedule">
            <p class="main-schedule-intro"><span class="weekday">星期天</span>...实际上还有更详细的时间表</p>
            <div class="main-schedule-container">
                <img class="load schedule-load" src="./static/img/01.gif" />
                <ul class="w30">
                    <li class="main-schedule-item active"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item left"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item"><ul class="update-schdele-container"></ul></li>
                    <li class="main-schedule-item next"><ul class="update-schdele-container"></ul></li>
                </ul>
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="reg-login">
            <p class="main-add">だ·か·ら</p>
            <p class="main-add-intro">快注册个新番提醒账号吧~还有WP、Android、iOS的客户端哦~</p>
            <div class="reg-login-container">
                <form class="form reg">
                    <p class="main-add-intro white">我要注册&gt;A&lt;</p>
                    <input type="text" name="email" placeholder="邮箱"/>
                    <input type="password" name="password" placeholder="密码" />
                    <input type="password" name="password2" placeholder="密码确认" />
                    <p class="button" data-type="regHandler">点我注册&gt;////&lt;</p>
                    <p class="error reg-error"></p>
                    <p class="ok reg-ok"></p>
                </form>
                <form class="form login">
                    <p class="main-add-intro white">直接登录=w=</p>
                    <input type="text" name="email" placeholder="邮箱"/>
                    <input type="password" name="password" placeholder="密码" />
                    <p class="button" data-type="loginHandler">点我登录Q^Q</p>
                    <p class="error login-error"></p>
                    <p class="ok login-ok"></p>
                </form>
            </div>
        </div>
        <div class="myself">
            <p class="main-add">喂喂喂，你来了</p>
            <p class="main-add-intro">快去自己个人主页看看嘛~</p>
            <div class="main-goto">
                <a class="button large" data-type="undo" href="/user">快去~</a>
                <a class="button large blue" data-type="undo" href="/search">搜索添加&gt;w&lt;</a>
            </div>
        </div>
        <div class="hr-line"></div>
    </div>
    <div class="footer">
        <p class="copyright">
            Copyright ©2013 
            <a href="http://ricter.info">Ricter</a>
            Powered By
            <a href="http://github.com/RicterZ/AnimeReminder">新番提醒</a>
            |
            <a href="/devtimeline">更新时间线</a>
            |
            <a href="https://gist.github.com/RicterZ/8134886">API 3.0</a>
            |
            <a href="/disclaimer">免责声明</a>
        </p>
    </div>
</body>
</html>