<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>新番提醒 | Anime Reminder | 第三方免费动漫更新提醒</title>
    <link href="./static/css/style.css" rel="stylesheet">
    <link href="./static/css/my.css" rel="stylesheet">
    <script src="./static/js/jquery.js"></script>
    <script src="./static/js/indexControl.js"></script>
    <script src="./static/js/global.js"></script>
    <script>
    $$(function() {
	    indexControl.myHandlerCheck();
	    var emailOption = new OptionButton($$("#email"));
	    emailOption.obj.click(function(){emailOption.click({
		    open: function() {return indexControl.emailReminderSet('1');},
		    close: function() {return indexControl.emailReminderSet('0');}
    })})})
    </script>
</head>

<body>
    <div class="my-header">
        <h1 class="my-header-title"><a class="nostyle" href="/">新番提醒</a></h1>
        <p class="my-email"></p>
    </div>
    <div class="my-main">
        <div class="my-main-subscript">
            <h1 class="my-main-subscript-title">我的订阅&nbsp;(<span class="unread">未读: <span class="unread-num">loading...</span></span>)<a class="button inline" data-type="undo" href="/search">添加</a></h1>
            <div class="subscript-container">
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="my-main-info">
            <h1 class="my-main-subscript-title">邮箱提醒状态: <i id="email" class="option"><i class="button-option"></i></i></h1>
            <a class="button red" href="/exit">退出帐号</a>
        </div>
        <div class="hr-line"></div>
    </div>
    <div class="footer">
        <p class="copyright">
            Copyright ©2013 
            <a href="http://ricter.info">Ricter</a>
            Powered By
            <a href="http://github.com/RicterZ/AnimeReminder">新番提醒</a>
            |
            <a href="/devtimeline">更新时间线</a>
            |
            <a href="https://gist.github.com/RicterZ/8134886">API 3.0</a>
            |
            <a href="/disclaimer">免责声明</a>
        </p>
    </div>
</body>
</html>