{% extends "base.html" %}

{% block body %}
    <div class="my-header">
        <h1 class="my-header-title"><a class="nostyle" href="/">新番提醒</a></h1>
        <a class="my-email" href="/user"></a>
    </div>
    <div class="my-main">
        <div class="my-main-subscript">
            <h1 class="my-main-subscript-title">我的订阅&nbsp;(<span class="unread">未读: <span class="unread-num">loading...</span></span>)<a class="button inline pull-right" data-type="undo" href="/search">添加</a></h1>
            <div class="subscript-container">
                <img class="load my-load" src="./static/img/01.gif" />
            </div>
        </div>
        <div class="hr-line"></div>
        <div class="my-main-info">
            <h1 class="my-main-subscript-title">邮箱提醒状态: <i id="email" class="option"><i class="button-option"></i></i></h1>
            <a class="button" style="display:inline" href="/rss/{{ user_id }}.xml">订阅RSS</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="button red" href="/exit">退出帐号</a>
        </div>
        <div class="hr-line"></div>
    </div>
{% endblock %}

{% block script %}
    <script>
    $(function() {
        indexControl.myHandlerCheck();
        indexControl.myHandler();
        var emailOption = new OptionButton($("#email"));
        emailOption.obj.click(function(){emailOption.click({
            open: function() {
                localStorage.setItem("email", 1);
                return indexControl.emailReminderSet('1');
            },
            close: function() {
                localStorage.setItem("email", 0);
                return indexControl.emailReminderSet('0');
            }
        })});
    })
    </script>
{% endblock %}