<div>
<div id="sch1 img-thumbnail">
{% for anime in todaylist[:-1] %}
<div class="anime" id="anime"  style="background:#FFF;">
  <img class="img-thumbnail" 
  src="http://images.movie.xunlei.com/submovie_img/{{ anime.split('|')[2][-5:][:2] }}/{{ anime.split('|')[2][-5:] }}/1_1_115x70.jpg" 
  onerror="this.src='/static/img/115x70.jpg'">
  <div id="animetitle">
    <h4 style="display:inline"><a target="_blank" href="{{ anime.split('|')[2] }}">{{ anime.split('|')[3] }}</a></h4>
  </div><hr />
  <div>
    <span>今日 <span class="badge">{{ anime.split('|')[1] }}</span> 更新</span>
    <p><a style="float:right;" class="btn btn-primary" role="button" href="##" onclick="animeadd({{ anime.split('|')[2][-5:] }})">添加 +</a></p>
  </div>
</div>
{% endfor %}
</div><br /><hr />
<div id="sch2 img-thumbnail">
{% for anime in tomorrowlist[:-1] %}
<div class="anime" id="anime"  style="background:#FFF;">
  <img class="img-thumbnail" 
  src="http://images.movie.xunlei.com/submovie_img/{{ anime.split('|')[2][-5:][:2] }}/{{ anime.split('|')[2][-5:] }}/1_1_115x70.jpg" 
  onerror="this.src='/static/img/115x70.jpg'">
  <div id="animetitle">
    <h4 style="display:inline"><a target="_blank" href="{{ anime.split('|')[2] }}">{{ anime.split('|')[3] }}</a></h4>
  </div><hr />
  <div>
    <span>明日 <span class="badge">{{ anime.split('|')[1] }}</span> 更新</span>
    <p><a style="float:right;" class="btn btn-primary" role="button" href="##" onclick="animeadd({{ anime.split('|')[2][-5:] }})">添加 +</a></p>
  </div>
</div>
{% endfor %}
 </div>
<hr />
</div>
<script type="text/javascript">reformobile()</script>
