{% extends "base.html" %} 
{% block head %}
<style>
    h1#head { 
      text-shadow:0px 0px 5px #000;
      color:#FFF;
    }
    h1, h4, h3 {
	  font-family:Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
      _font-family:Tahoma,Arial,Helvetica,STHeiti;
    }
    .anime h3,.anime p,.anime span, .anime h4{
      display:inline;
    }
    div#animetitle {
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow:hidden;
      display:inline-block;
      width:145px;
    }
</style>
{% endblock %}
{% block nav %}
    <li><a href="/">主页</a></li>
    <li class="active"><a href="##" data-toggle="modal" data-target="#searchModal">搜索</a></li>
    <li><a href="/my">订阅</a></li>
    <li><a href="/help">帮助</a></li>
{% endblock %}
{% block body %}
<h1>搜索结果</h1>
<hr />
    {% for anime in searchResultList %}
      <div class="anime img-thumbnail" id="anime">
       <img class="img-thumbnail"
       src="http://images.movie.xunlei.com/submovie_img/{{ anime[1][:2] }}/{{ anime[1] }}/1_1_115x70.jpg"
       onerror="this.src='/static/img/115x70.jpg'">&nbsp;&nbsp;
       <div id="animetitle"><h4 style="display:inline;">
        <a href="http://data.movie.kankan.com/movie/{{ anime[1] }}">{{ anime[0].decode('utf8') }}</a></h4>
       </div><hr />
       <span><a class="btn btn-primary" role="button" href="##" onclick="animeadd({{ anime[1] }})">添加 +</a></span>
      </div>
    {% endfor %}
{% endblock %}
